.food-saver-card {
  display: flex;
  border-radius: 16px;
  background-color: #d7916c;
  max-height: 230px;
  max-width: 640px;
}

.recipe-image {
  height: 100%;
  border-radius: 16px 0 0 16px;
}

.fs-card-body {
  display: flex;
  flex-direction: column;
  padding: 0 16px 8px 16px;
  font-family: "Montserrat", sans-serif;
  color: #1f1d1d;
  width: 100%;
}

.fs-card-title {
  display: flex;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.fs-tag-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 8px;
  gap: 8px;
}

.fs-tag-text {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  background-color: #c9a5ce;
  border-radius: 16px;
  width: fit-content;
  padding: 3px 8px;
}

.recipe-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.recipe-button {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  border: solid 2px #3e3d74;
  background: #efe6dd;
  box-shadow: 0px 1px 0px 0px #3e3d74;
  padding: 4px 16px;
  height: auto;
  margin-bottom: 1vw;
  color: #3e3d74;
  font-weight: 600;
}

@media only screen and (max-width: 520px) {
  .fs-tag-text {
    display: flex;
    font-size: 0.8rem;
    padding: 2px 6px;
  }

  .recipe-button {
    padding: 4px;
  }

  .food-saver-card {
    flex-direction: row-reverse;
  }

  .recipe-image {
    border-radius: 0 16px 16px 0;
  }
}
