.food-saver-card {
    display: flex;
    width: 40vw;
    border-radius: 0.6vw;
    background-color: #D7916C;
    margin-bottom: 2vw;
}

.recipe-image {
    width: 14vw;
    object-fit: cover;
    border-radius: 0.6vw 0 0 0.6vw;
}

.fs-card-body {
    display: flex;
    flex-direction: column;
    padding: 0 1.73vw 0 1.73vw;
    font-family: 'Montserrat', sans-serif;
    color: #1F1D1D;
    width: 26vw;
}

.fs-card-title {
    display: flex;
    text-align: left;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 0.5vw;
    
}

.fs-tag-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vw;
    gap: 0.5vw;
}

.fs-tag-text {
    display: flex;
    font-size: 1vw;
    font-weight: 500;
    background-color: #C9A5CE;
    border-radius: 10vw;
    width: fit-content;
    padding: 0.11vw 0.5vw;
}

.recipe-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.recipe-button {
    display: flex;
    justify-content: center;
    border-radius: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: #3E3D74;
    border: solid 0.1vw #3E3D74;
    background: #EFE6DD;
    box-shadow: 0px 0.1vw 0px 0px #3E3D74;
    font-weight: 800;
    width: 11vw;
    height: auto;
    margin-bottom: 1vw;

}

.recipe-button a {
    text-decoration: none;
}

