.passwordContainer {
  position: relative;
  width: 100%;
}

.password-login-input {
  width: calc(100% - 18px);
  border-radius: 5px;
  border: 1px solid #828282;
  padding: 8px;
  background-color: transparent;
  margin-top: 4px;
  height: 24px;
  margin-bottom: 24px;
}

.hide-password-button {
  position: absolute;
  right: 0;
  z-index: 10;
  border: none;
  bottom: 28px;
  padding-right: 10px;
  cursor: pointer;
  background: transparent;
}

.eye-icon {
  width: 24px;
  fill: #525252;
}
