.passwordContainer {
	position: relative;
	width: 100%;
}

.login-input {
	width: calc(100% - 18px);
	border-radius: 5px;
	border: 1px solid #828282;
	padding: 8px;
	background-color: transparent;
	margin-top: 3px;
}

.hidePasswordButton {
	position: absolute;
	right: 0;
	z-index: 10;
	border: none;
	bottom: 0;
	cursor: pointer;
	background: transparent;
}