.category-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.6vw;
    background-color: white;
    width: 35vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.category-card:hover {
    border: solid #D7916C 0.3vw;
}

.category-image {
    width: 35vw;
    object-fit: contain;
    border-radius: 0.6vw 0.6vw 0 0;
}


.link {
    height: auto;
    
}

.category-subtitle{
    font-size: 2.5vw;
    text-decoration: none;
    color: #1f1d1d;
    font-family: "Montserrat", sans-serif;
}

.category-container{
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1vw;
    text-align: left;
    display: flex;
    border-radius: 0 0 0.6vw 0.6vw;
    
}


// desktop
@media only screen and (min-width: 600px) {
    .category-image {
        width: 25vw;
        height: 25vw;
        object-fit: cover;
        border-radius: 0.6vw 0.6vw 0 0;
    }

    .category-card {
        width: 25vw;
    }
    .category-subtitle{
        font-size: 1vw;
    }

    .card-link {
        height: 25vw;  
    }

    p{
        margin-top: 1vh;
    }
    
}