.category-card {
	display: flex;
	flex-direction: column;
	border-radius: 0.6vw;
	width: 200px;
}

.category-card:hover {
	box-shadow: 0 0 2px 4px #d7916c;
}

.category-image {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}

.link {
	height: 200px;
}

.category-subtitle {
	font-size: 2rem;
	text-decoration: none;
	color: #1f1d1d;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

.category-container {
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 16px;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	.category-card {
		width: 30vw;
	}
	.category-image {
		object-fit: cover;
		width: 30vw;
		height: 30vw;
	}
	.category-subtitle {
		font-size: 1rem;
	}
}
