.category-card {
	display: flex;
	flex-direction: column;
	border-radius: 0.6vw;
	width: 20vw;
}

.category-card:hover {
    box-shadow: 0 0 2px 4px #d7916c;

}

.category-image {
	width: 20vw;
	height: 20vw;
	object-fit: cover;
	border-radius: 0.6vw 0.6vw 0 0;
}

.link {
	height: 20vw;
}

.category-subtitle {
	font-size: 2.5vw;
	text-decoration: none;
	color: #1f1d1d;
	font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.category-container {
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 1vw;
	display: flex;
    justify-content: center;
}

// desktop
@media only screen and (min-width: 600px) {
	.category-image {
		width: 12vw;
		height: 12vw;
		object-fit: cover;
		border-radius: 200px;
	}
	.category-card {
		width: 12vw;
	}
	.link {
		height: 12vw;
	}
	.category-subtitle {
		font-size: 1.2vw;
	}
	p {
		margin-top: 1vh;
	}
}
