.home-page {
	background: rgb(238, 230, 221);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel {
	width: 100%;
}

.home-main {
	display: flex;
	flex-direction: column;
	max-width: 85%;
}

.feature-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	overflow-x: auto;
	gap: 32px;
	padding: 8px;
	width: 100%;
	justify-content: space-between;
}

.feature-title {
	display: flex;
	color: #1f1d1d;
	font-family: "Paytone One", sans-serif;
	text-align: left;
	font-size: 2rem;
	margin: 10px 0;
	padding-left: 8px;
}

.feature {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 16px;
	margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
	.feature {
		margin: 16px;
	}
	.feature-container {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		padding: 4px;
		gap: 16px;
	}
	.feature-title {
		display: flex;
		color: #1f1d1d;
		width: 90vw;
		font-family: "Paytone One", sans-serif;
		text-align: left;
		font-size: 1.5rem;
		margin: 10px 0;
		padding-left: 16px;
	}
	.home-main {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
}
