.footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: min-content;
	color: #1f1d1d;
	font-family: "Montserrat", sans-serif;
	background-image: url(../../images/footerImage.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3vw 0 3vw 0;
}

.footer-title {
	width: 75vw;
	font-family: "Paytone One", sans-serif;
	margin: 0vw;
    text-align: center;
}

.sub-heading {
	margin-top: 1vw;
    text-align: center;
}

.join-input {
	margin: 2vw 0vw 2vw 2vw;
	padding: 1vw;
	border: none;
	border-radius: 1vw 0 0 1vw;
    font-family: "Montserrat", sans-serif;

}

.join-input:focus-visible {
    outline: 1vw solid #3e3d74;
  }


.join-button {
	border: none;
	background-color: #3e3d74;
	color: #ffffff;
	border-radius: 0 1vw 1vw 0;
	padding: 1vw 4vw;
	font-family: "Montserrat", sans-serif;
}

