.footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: min-content;
	color: #1f1d1d;
	font-family: "Montserrat", sans-serif;
	background-image: url(../../images/footerImage.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3vw 0 3vw 0;
}

.footer-title {
	font-family: "Paytone One", sans-serif;
	margin: 0vw;
	text-align: center;
	font-size: 2.5vw;
}

.sub-heading-footer {
	margin-top: 1vw;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1.5vw;
}

.socials {
	display: flex;
}

.social-svg {
	width: 40px;
	height: 40px;
	margin: 16px 16px 0 16px;
}

@media only screen and (max-width: 600px) {
	.footer-title {
		font-size: 1rem;
	}
	.sub-heading-footer {
		font-size: 0.75rem;
	}
	.social-svg {
		width: 24px;
		height: 24px;
		margin: 8px 8px 0 8px;
	}
}
