.preview-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.6vw;
    background-color: white;
    width: 35vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.recipe-image {
    width: 35vw;
    height: 35vw;
    object-fit: cover;
    border-radius: 0.6vw 0.6vw 0 0;
}


.card-link {
    height: 35vw;
    
}

.card-title{
    font-size: 1.5vw;
    text-decoration: none;
    color: #1f1d1d;
    font-family: "Montserrat", sans-serif;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 0 0.5vw 0.5vw;
    text-align: left;
    
    border-radius: 0 0 0.6vw 0.6vw;
}

.tag-container {
    display: flex;
    justify-content: space-around;
}

// desktop
@media only screen and (min-width: 600px) {
    .recipe-image {
        width: 25vw;
        height: 25vw;
        object-fit: cover;
        border-radius: 0.6vw 0.6vw 0 0;
    }

    .preview-card {
        width: 25vw;
    }

    .card-link {
        height: 25vw;  
    }

    p{
        margin-top: 1vh;
    }
    
}