.preview-card {
	display: flex;
	flex-direction: column;
	border-radius: 0.6vw;
	background-color: white;
	width: 100%;
	box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2);
}

.preview-card:hover {
	border: solid #d7916c 3px;
}

.preview-image {
	object-fit: cover;
	border-radius: 0.6vw 0.6vw 0 0;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	flex-shrink: 0;
}

.preview-title {
	text-decoration: none;
	color: #1f1d1d;
	font-family: "Montserrat", sans-serif;
	font-size: 0.4rem;
}

.title-container {
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 1vw;
	text-align: left;
	border-radius: 0 0 0.6vw 0.6vw;
}

// desktop
@media only screen and (min-width: 600px) {
	.preview-title {
		font-size: 1rem;
	}

	p {
		margin-top: 1vh;
	}
}
