#form-file-upload {
	height: 15rem;
	width: 15rem;
	text-align: center;
	position: relative;
}

#input-file-upload {
	display: none;
}

#label-file-upload {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-width: 2px;
	border-radius: 1rem;
	border-style: dashed;
	border-color: #525252;
	background-color: #efe6dd;
}

#label-file-upload.drag-active {
	background-color: #ffffff;
}

.upload-button {
	cursor: pointer;
	padding: 0.25rem;
	font-size: 1rem;
	border: none;
	font-family: "Oswald", sans-serif;
	background-color: transparent;
}

.upload-button:hover {
	text-decoration-line: underline;
}

#drag-file-element {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.uploadImage {
	height: 25%;
	width: 25%;
	border-radius: 1rem;
	object-fit: cover;
}

p {
	font-family: "Nunito Sans", sans-serif;
	margin: 0px;
}

.uploadContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.clickToUpload {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 800;
	color: #ffffff;
	border: none;
	background-color: #a60054;
	border-radius: 10px;
	width: 50%;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	padding: 0.3rem;
	cursor: pointer;
}

.drag {
	margin-top: 1rem;
}
