.food-saver-header {
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	height: min-content;
	color: #1f1d1d;
	font-family: "Montserrat", sans-serif;
	background-image: url(../../images/FoodSaverHeaderImage.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vw;
}

.fs-header-title {
	width: 50vw;
	font-family: "Paytone One", sans-serif;
	margin: 0vw;
    text-align: center;
}

.header-sub-heading {
    width: 40vw;
	margin-top: 1vw;
    text-align: center;
}

.search-input {
    width: 25vw;
	margin: 2vw 0vw 2vw 2vw;
    padding: 1vw;
    border: none;
    border-radius: 2vw 2vw 2vw 2vw;
    font-family: "Montserrat", sans-serif;
    border: solid rgb(170,93,37);
    border-width: 0.25vw 0.25vw 0.5vw 0.25vw;
}

.search-input:focus-visible {
    outline: none;
}


// .submit-button {
// 	border: none;
//     background-color: rgb(239,117,66);
//     color: #ffffff;
//     border-radius: 0 2vw 2vw 0;
//     padding: 1vw 4vw;
//     font-family: "Montserrat", sans-serif;

// }
