.recipe-main{
    background: rgb(239,230,221);
    display: flex;
	flex-direction: column;
	align-items: center;
}

.overview {
    display: flex;
    gap: 2vw;
    justify-content: center;
    margin: 0 10vw 0 10vw
}

.rec-image {
    width: 35vw;
    height: 35vw;
    object-fit: cover;
    border-radius: 0.6vw;

}

.overview-col1 {
    display:flex;
}

.overview-col2 {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Paytone One", sans-serif;
	margin: 0vw;
    max-width: 70%;

}

.recipe-title {
    text-align: left;
    font-size: 4vw;
    margin-bottom: 0.5vw;
}

.description{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: flex-start;
    text-align: left;
    font-size: 2vw;
    color: #1f1d1d;

}

.goto-tag-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vw;
    gap: 0.5vw;
    margin-bottom: auto;
}

.goto-tag-text{
    display:flex;
    color: black;
    font-size: 1.5vw;
    font-weight: 500;
    background-color: #C9A5CE;
    border-radius: 10vw;
    width: fit-content;
    padding: 0.11vw 0.5vw;
}


.main{
    display: flex;
    margin: 2vw 10vw 10vw 10vw;
    color: #1f1d1d;
    gap: 3vw;
}
.sub-heading {
    display:flex;
    font-family: "Paytone One", sans-serif;
}


.main-column1{
    display:flex;
    flex-direction: column;
    min-width: 30%;
    align-items: flex-start;
    flex-wrap: wrap;
    
}


.ingredients-list{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: flex-start;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    font-size: 1.2rem;
    

}

.main-column2{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1f1d1d;
}

.recipe-method {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: flex-start;
    text-align: left;
    padding: 0;
    margin-top: 0;
    font-size: 1.2rem;
    color: #1f1d1d;

}



.method-line{
    margin: 1vw;
    padding: 0;
    color: #1f1d1d;
}


// desktop
@media only screen and (min-width: 600px) {
    .ingredients-list, .method {
        font-size: 2vw;
    }
    .sub-heading{
        font-size: 2vw;
    }
    .description{
        font-size: 2vw;
    }

    
}