.header {
  width: 100%;
  max-height: 100vh;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.QHlogo-header {
  display: flex;
  width: 15vw;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  font-family: "Paytone One", sans-serif;
  font-size: 2vw;
  text-align: center;
}

.nav {
  margin: 2vw;
  text-decoration: none;
  color: #1f1d1d;
}

.nav:hover {
  color: rgb(166, 1, 83);
}

.user-icon {
  cursor: point;
  border: none;
  width: 3vw;
  height: 3vw;
  border-radius: 8px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  font-size: 2vw;
  font-family: "Paytone One", sans-serif;
  overflow: visible;
  text-align: left;
  border-radius: 16px;
  border: solid rgb(166, 1, 83);
}

.dropdown-content2 {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 16px;
  border: solid rgb(166, 1, 83);
}

.dropdown-content a,
.dropdown-content2 a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  padding: 1vw 1vh;
  font-size: 2vw;
}

.dropdown-content a:hover {
  background-color: rgb(249, 246, 246);
  border-radius: 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content2 a:hover {
  background-color: rgb(249, 246, 246);
  border-radius: 16px;
}
.dropdown:hover .dropdown-content2 {
  display: block;
}


