.header {
    max-width: 100vw;
    height: 100vh;
    padding: 2%;
    
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.QHlogo {
    display: flex;
    width: 15vw;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.nav {
    margin: 2vw;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

.dropbtn {
    background: url(../../images/user.svg) no-repeat;
    cursor: point;
    border: none;
    width: 4vw;
    height: 4vw;
    border-radius: 75%;
    justify-content: flex-start;
    

}

.dropdown{
    display: inline-block;
    justify-content: space-between;
    position: relative;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 10vw;
    border: solid black;
    
}
.dropdown-content a {
    padding: 5%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;    
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
