.header {
    max-width: 100vw;
    height: 100vh;
    padding: 2%;
    
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.QHlogo {
    display: flex;
    width: 15vw;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.nav {
    margin: 2vw;
    color: #3E3D74;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

.nav-right{
    display: flex;
    justify-content: space-between;
}

.search-icon {
    width: 4vw;
    height: 4vw;
}

.profile-pic {
    width: 4vw;
    height: 4vw;
    border-radius: 75%;
    justify-content: flex-start;
}

// needs media types adding to be responsive for mobile