.category-page {
  display: flex;
  flex-direction: column;
  background: rgb(238, 230, 221);
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}

.category-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 5vh;
  max-width: 70vw;
}

.category-title {
  margin-bottom: 3vh;
  font-size: 8vw;
}

@media only screen and (min-width: 600px) {
  .category-title {
    font-size: 4vw;
  }
}
